<h1>{{ dataLoader.overview.title }}</h1>
<ul class="ps-3">
  <li *ngFor="let feature of dataLoader.overview.features">
    <span class="feature-name fw-bold">{{ feature.name }} : </span>
    <span class="feature-definition">{{ feature.definition }}</span>
    <p class="feature-syntax">
      <span class="fw-bold">Syntax : </span> {{ feature.syntax }}
    </p>
    <div class="accordion" id="examples-container">
      <div class="accordion-item">
        <p class="fw-bold me-0 accordion-header" id="examples">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTarget"
            aria-expanded="true"
            aria-controls="collapseTarget"
          >
            Examples:
          </button>
        </p>
        <div
          id="collapseTarget"
          class="accordion-collapse collapse show"
          aria-labelledby="examples"
          data-bs-parent="#examples-container"
        >
          <div class="accordion-body">
            <div *ngFor="let example of feature.examples" #container>
              <p class="feature-syntax">
                {{ example }}
                <i
                  class="bi bi-clipboard-plus float-end"
                  ngxClipboard
                  [cbContent]="example"
                  [container]="container"
                  (click)="showSuccess()"
                ></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
