<h1>{{ dataLoader.overview.title }}</h1>
<div class="accordion" id="accordionExample">
  <div *ngFor="let feature of dataLoader.overview.features;let i=index;" class="accordion-item">
    <h2 [id]="'headingOne-'+i" class="accordion-header">
      <button [attr.aria-controls]="'collapseOne-'+i" [attr.data-bs-target]="'#collapseOne-'+i"
              [ngClass]="(i==0)? '' : 'collapsed' "
              aria-expanded="true" class="accordion-button"
              data-bs-toggle="collapse" type="button">
        {{ feature.name }}
      </button>
    </h2>
    <div [attr.aria-labelledby]="'headingOne-'+i" [id]="'collapseOne-'+i"
         [ngClass]="(i==0)? 'accordion-collapse collapse show' : 'accordion-collapse collapse' "

         data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <span class="feature-definition">
          <span class="feature-name fw-bold">Definition:</span>
          {{ feature.definition }}
        </span>
        <p class="feature-syntax">
          <span class="fw-bold">Syntax : </span> {{ feature.syntax }}
        </p>


        <div class="accordion" id="accordionExample1">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne1">
              <button aria-controls="collapseOne1" aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne1"
                      data-bs-toggle="collapse" type="button">
                Examples:
              </button>
            </h2>
            <div aria-labelledby="headingOne1" class="accordion-collapse collapse" data-bs-parent="#accordionExample1"
                 id="collapseOne1">
              <div class="accordion-body">
                <div #container *ngFor="let example of feature.examples">
                  <p class="feature-syntax">
                    {{ example }}
                    <i
                      (click)="showSuccess()"
                      [cbContent]="example"
                      [container]="container"
                      class="bi bi-clipboard-plus float-end text-success font-weight-bold fs-5"
                      ngxClipboard
                    ></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
