<div class="container mt-5">
  <div class="row">
    <div class="col-2 vh-90 concept-container scrollbar left-scroll">
      <ul class="p-0 text-start my-0">
        <li
          (click)="dataLoader.loadOverview(concept)"
          *ngFor="let concept of dataLoader.concepts"
          [ngClass]="{ 'active' : concept.active }"
          [@changeState]="concept.currentState"
          (@changeState.done)="endState(concept)"
          (click)="changeState(concept)"
          [routerLink]="['/overview',concept.id]" routerLinkActive="active"
        >

          <span>{{ concept.name }}</span>
        </li>

      </ul>
    </div>
    <div class="col-9 vh-90 overview-container scrollbar">
      <router-outlet></router-outlet>
    </div>
<!--    <div class="col-1"></div>-->
  </div>
</div>
