.container-fluid {
  margin: 12px 0px 0px 0px;
}
ul {
  background: #fff;
}
ul li {
  list-style: none;
  padding: 5px;
  border: 1px solid;
  border-right: none;

}
ul li:first-child {
  border-bottom: none;
}
ul li:last-child {
  border-top: none;
}

ul li.active {
  color: #297fff;
  background-color: #e7f1ff;
  font-weight: bold;
  border-right: 2px solid #297fff;
  font-style: italic;
}
.overview-container {
  border: 1px solid;
}
.overview-container, .concept-container {
  overflow: auto;
  overflow-x: hidden;
}

.vh-90 {
  height: 90vh;
}
