.container-fluid {
  margin: 12px 0px 0px 0px;
}
ul {
  background: #d5dce4;
}
ul li {
  list-style: none;
  padding: 5px;
  border: 1px solid;
  border-right: none;
}
ul li:first-child {
  border-bottom: none;
}
ul li:last-child {
  border-top: none;
}

ul li.active {
  background: #b6bfcb;
  font-weight: bold;
  margin-right: -1px;
}
.col-9 {
  border: 1px solid;
  margin-left: -0.5px;
  width: 70%;
  border-left: none;
  overflow: auto;
}
.col-3 {
  border-right: 1px solid;
  overflow: auto;
  overflow-x: hidden;
}

.vh-90 {
  height: 90vh;
}
