ul li:hover {
  background-color: #e7f1ff;
}
ul li {
  list-style: none;
  padding: 10px 10px 10px 10px;
}

ul li.active,ul li:hover {
  color: #297fff;
  background-color: #e7f1ff;
  font-weight: bold;
  font-style: italic;
  padding-left: 2.5rem;
  border: 1px solid #fff;
  border-right: 5px solid #297fff;
  transition: 0.4s;
}

.vh-90 {
  height: 90vh;
}

.overview-container {
  padding-left: 1.5rem;
  background: #e2e7ec;
}
.concept-container {
  background-color: #b7d3ff ;
}
